<a href="https://colab.research.google.com/github/Tejashree56/AIML/blob/main/Assignment1new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input("Enter the value"))
p=4*a
print(p)

Enter the value5
20

In [ ]:
l=int(input("Enter the value for length "))
b=int(input("Enter the value for breadth"))
p=2*(l+b)
print(p)

Enter the value for length 15
Enter the value for breadth10
50

In [ ]:
r=int(input("Enter the value for radius "))
pie=3.14
c=2*pie*r
print(c)

Enter the value for radius 5
31.400000000000002

In [ ]:
a=int(input("Enter the value for a:"))
A=a*a
print(A)

Enter the value for a:16
256

In [ ]:
l=int(input("Enter the value for length: "))
b=int(input("Enter the value for breadth:"))
p=l*b
print(p)

Enter the value for length: 15
Enter the value for breadth:5
75

In [ ]:
b1=int(input("Enter the value for b1 "))
b2=int(input("Enter the value for b2 "))
h=int(input("Enter the value for height"))
a=((b1+b2*h)/2)
print(a)

Enter the value for b1 12
Enter the value for b2 16
Enter the value for height5
46.0

In [ ]:
b=int(input("Enter the value for breadth: "))
h=int(input("Enter the value for height:"))
c=1/2
a=c*(b*h)
print(a)

Enter the value for breadth: 15
Enter the value for height:14
105.0

In [ ]:
r=int(input("Enter the value for radius "))
pie=3.14
a=pie*r*r
print(a)

Enter the value for radius 13
530.66

In [ ]:
l=int(input("Enter the value for length:"))
s=6*l*l
print(s)

Enter the value for length:6
216

In [ ]:
r=int(input("Enter the value for radius "))
h=int(input("Enter the value for height "))
pie=3.14
CSA=2*pie*r*h
print(CSA)

Enter the value for radius 12
Enter the value for height 10
753.6

In [ ]:
r=int(input("Enter the value for radius "))
l=int(input("Enter the value for length "))
pie=3.14
CSA=pie*r*l
print(CSA)

Enter the value for radius 16
Enter the value for length 12
602.88

In [ ]:
r=int(input("Enter the value for radius "))
pie=3.14
s=4*pie*r*r
print(s)

Enter the value for radius 5
314.0

In [ ]:
r=int(input("Enter the value for radius "))
h=int(input("Enter the value for height "))
pie=3.14
b=pie*r*r*h
print(b)

Enter the value for radius 14
Enter the value for height 12
7385.280000000001

In [ ]:
r=int(input("Enter the value for radius "))
h=int(input("Enter the value for height "))
pie=3.14
c=1/3
v=c*pie*r*r*h
print(v)

Enter the value for radius 12
Enter the value for height 10
1507.1999999999998

In [ ]:
r=int(input("Enter the value for radius "))
h=int(input("Enter the value for height "))
pie=3.14
c=4/3
v=c*pie*r*r*r
print(v)

Enter the value for radius 25
Enter the value for height 12
65416.666666666664

In [ ]:
import math
x1=int(input("Enter the value for x1 "))
x2=int(input("Enter the value for x2 "))
y1=int(input("Enter the value for y1 "))
y2=int(input("Enter the value for y2 "))
d=math.sqrt((x2-x1)*(x2-x1)+(y2-y1)*(y2-y1))
print(d)

Enter the value for x1 2
Enter the value for x2 3
Enter the value for y1 2
Enter the value for y2 3
1.4142135623730951

In [ ]:
import math
a=int(input("Enter the value for a "))
b=int(input("Enter the value for b "))
c=math.sqrt(a**2+b**2)
print(c)

Enter the value for a 14
Enter the value for b 5
14.866068747318506

In [ ]:
x1=int(input("Enter the value for x1 "))
x2=int(input("Enter the value for x2 "))
y1=int(input("Enter the value for y1 "))
y2=int(input("Enter the value for y2 "))
m=y2-y1/x2-x1
print(m)

Enter the value for x1 12
Enter the value for x2 10
Enter the value for y1 5
Enter the value for y2 3
-9.5

In [ ]:

x1=int(input("Enter the value for x1 "))
x2=int(input("Enter the value for x2 "))
y1=int(input("Enter the value for y1 "))
y2=int(input("Enter the value for y2 "))
a=(x1+x2)/2
b=(y1+y2)/2
print(a,b)

Enter the value for x1 2
Enter the value for x2 3
Enter the value for y1 3
Enter the value for y2 1
2.5 2.0

In [ ]:
n=int(input("Enter the n: "))
price_per_unit=int(input("Enter the value: "))
total_price=(n)*(price_per_unit)
print(total_price)

Enter the n: 2
Enter the value: 4
8

In [ ]:
m=int(input("enter m value:"))
x=int(input("enter x value:"))
c=int(input("enter c value:"))
y=m*x+c
print(y)

enter m value:5
enter x value:6
enter c value:4
34

In [ ]:
r=int(input("enter the value for r"))
t=int(input("enter the value for t"))
d=r*t
print(d)

enter the value for r6
enter the value for t4
24

In [ ]:
import math
a=float(input("enter the coefficient a:"))
b=float(input("enter the coefficient b:"))
c=float(input("enter the coefficient c:"))
discriminant=b**2-4*a*c
if discriminant>0:
  root1=(-b + math.sqrt(discriminant))/(2*a)
  root2=(-b - math.sqrt(discriminant))/(2*a)
  print("root 1:",root1)
  print("root 2:",root2)
elif discriminant==0:
  root1= -b/(2*a)
  print("repeated root:",root1)
else:
  real_part= -b/(2*a)
  imaginary_part=math.sqrt(abs(discriminant))/(2*a)
  print("complex root 1:",real_part,"+",imaginary_part,"i")
  print("complex root 2:",real_part,"+",imaginary_part,"i")

In [ ]:
# Python program to find roots of quadratic equation
import math


# function for finding roots
def equationroots( a, b, c):

	# calculating discriminant using formula
	dis = b * b - 4 * a * c
	sqrt_val = math.sqrt(abs(dis))

	# checking condition for discriminant
	if dis > 0:
		print("real and different roots")
		print((-b + sqrt_val)/(2 * a))
		print((-b - sqrt_val)/(2 * a))

	elif dis == 0:
		print("real and same roots")
		print(-b / (2 * a))

	# when discriminant is less than 0
	else:
		print("Complex Roots")
		print(- b / (2 * a), + i, sqrt_val)
		print(- b / (2 * a), - i, sqrt_val)

# Driver Program
a = 20
b = 24
c = 11

# If a is 0, then incorrect equation
if a == 0:
		print("Input correct quadratic equation")

else:
	equationroots(a, b, c)

In [ ]:
import math
a=int(input("Enter the value:"))
b=int(input("Enter the value:"))
m=int(input("Enter the m value:"))
n=int(input("Enter the n value:"))
x=((a**m)*(b**m))
y=((a*b)**m)
print(x)
print(y)
print((x)==(y))

Enter the value:16
Enter the value:14
Enter the m value:15
Enter the n value:5
179357802799334616595002277310234624
179357802799334616595002277310234624
True

In [ ]:
import math
a=int(input("Enter the value:"))
b=int(input("Enter the value:"))
m=int(input("Enter the m value:"))
n=int(input("Enter the n value:"))
x=((a**m)*(a**n))
y=(a**(m+n))
print(x)
print(y)
print((x)==(y))

Enter the value:15
Enter the value:5
Enter the m value:3
Enter the n value:4
170859375
170859375
True

In [ ]:
import math
a=int(input("Enter the value:"))
x=((a**1/2))
y=math.sqrt(a)
print(x)
print(y)
print((x)==(y))

Enter the value:5
2.5
2.23606797749979
False

In [ ]:
foot=int(input("enter the number of foots:"))
inch=foot*12
print(inch,"inchs")

enter the number of foots:5
60 inchs

In [ ]:
yard=int(input("enter the number of yards:"))
feet=yard*3
print(feet,"feets")

enter the number of yards:4
12 feets

In [ ]:
mile=int(input("enter the number of miles:"))
feet=mile*5280
print(feet,"feets")

enter the number of miles:14
73920 feets

In [ ]:
mile=int(input("enter the number of miles:"))
km=mile*1.61
print(km,"kilometers")

enter the number of miles:14
22.540000000000003 kilometers

In [ ]:
inch=int(input("enter the number of inch:"))
cm=inch*2.54
print(cm,"centimeters")

enter the number of inch:16
40.64 centimeters

In [ ]:
foot=int(input("enter the number of foot:"))
meter=foot*0.3048
print(meter,"foots")

enter the number of foot:12
3.6576000000000004 foots

In [ ]:
meter=int(input("enter the number of miles:"))
millimeters=meter*1000
print(millimeters,"millimeters")

enter the number of miles:14
14000 millimeters

In [ ]:
km=int(input("enter the number of miles:"))
meters=km*1000
print(meters,"meters")

enter the number of miles:25
25000 meters

In [ ]:
km=int(input("enter the number of km:"))
miles=km*0.62
print(miles,"miles")

enter the number of km:14
8.68 miles

In [ ]:
square_foot=int(input("enter the number for square_foot"))
square_inch=square_foot*144
print(square_inch,"square inches")

enter the number for square_foot11
1584 square inches

In [ ]:
square_yard=int(input("enter the number for square_yard"))
square_feet=square_yard*9
print(square_feet,"square feets")

enter the number for square_yard36
324 square feets

In [ ]:
acre=int(input("enter the number for acre"))
square_feet=acre*43560
print(square_feet,"square feets")

enter the number for acre5
217800 square feets

In [ ]:
cup=int(input("enter the number for cups"))
fluid_ounces=cup*8
print(fluid_ounces,"cups")

enter the number for cups15
120 cups

In [ ]:
quart=int(input("enter the number of quarts:"))
cups=quart*4
print(cups,"cups")

enter the number of quarts:12
48 cups

In [ ]:
gallon=int(input("enter the number for gallons"))
cubic_inch=gallon*231
print(cubic_inch,"gallons")

enter the number for gallons56
12936 gallons

In [ ]:
gallon=int(input("enter the number for gallons"))
quarts=gallon*4
print(quarts,"quarts")

enter the number for gallons14
56 quarts

In [ ]:
liters=int(input("enter the number of liters"))
gallons=liters*0.264
print(gallons,"gallons")

enter the number of liters24
6.336 gallons

In [ ]:
cubic_foot=int(input("enter the number of cubic foots"))
cubic_inch=cubic_foot*1728
print(cubic_inch,"inches")

enter the number of cubic foots27
46656 inches

In [ ]:
cubic_yards=int(input("enter the number of yards:"))
cubic_feet=cubic_yards*27
print(cubic_feet,"feets")

enter the number of yards:14
378 feets

In [ ]:
board_foot=int(input("enter the number of foots:"))
inch=board_foot/1/12/12
print(inch,"inches")

enter the number of foots:15
0.10416666666666667 inches

In [ ]:
a=int(input("enter the a value:"))
b=int(input("enter the b value:"))
c=int(input("enter the c value:"))
sum_of_angles=a+b+c
print((sum_of_angles)==180)

enter the a value:8
enter the b value:5
enter the c value:6
False

In [ ]:
b=int(input("enter the base value:"))
h=int(input("enter the height value:"))
area=1/2*(b*h)
print(area)

enter the base value:4
enter the height value:5
10.0

In [ ]:
ounch=int(input("enter the value:"))
grams=ounch*28.350
print(grams,"grams")

enter the value:65
1842.75 grams

In [ ]:
pounce=int(input("enter the value:"))
ounces=pounce*16
print(ounces,"ounces")

enter the value:15
240 ounces

In [ ]:
pounce=int(input("enter the value:"))
grams=pounce*453.592
print(grams,"grams")

enter the value:5
2267.96 grams

In [ ]:
milligram=int(input("enter the value:"))
grams=milligram*0.001
print(grams,"grams")

enter the value:5
0.005 grams

In [ ]:
killogram=int(input("enter the value:"))
grams=killogram*1,000
print(grams,"grams")

enter the value:56
(56, 0) grams

RECTANGLE SOLID BOX

In [ ]:
l=int(input("Enter the value:"))
w=int(input("Enter the value:"))
h=int(input("Enter the value:"))
v=l*w*h
print(v)

Enter the value:5
Enter the value3
Enter the value4
60

CUBE

In [ ]:
import math
l=int(input("Enter the length of the cube:"))
volume=l**3
print("volume",volume)

Enter the length of the cube:5
volume 125

CYLINDERIC VOLUME

In [ ]:
import math
r=int(input("Enter the value:"))
h=int(input("Enter the value:"))
v=3.14*(r**2)*h/3
print(v)

Enter the value:5
Enter the value:6
157.0

VOLUME SPHERE

In [ ]:
import math
r=int(input("Enter the valu:"))
v=4/3*3.14*(r**3)
print(v)

Enter the valu:6
904.3199999999999